.localdevserver/
.forceCode
.vscode/
.sfdx/
/tests/
mdapioutput/
force.json
test-results/
temp/
.vim-force.com/
data-loader.out/
force-app/main/default/settings/OrgPreference.settings-meta.xml
force-app/main/default/settings/Quote.settings-meta.xml
.localdevserver
debug.log
.idea/
IlluminatedCloud/
**/jsconfig.json
queries
profiles/unpackaged.zip
profiles/unpackaged/
node_modules
coverage
junit.xml
*.iml

# IntelliJ .idea folder
.idea/workspace.xml
.idea/misc.xml
.idea/libraries
.idea/caches
.idea/navEditor.xml
.idea/tasks.xml
.idea/modules.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/deploymentTargetDropDown.xml